<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Reddit Page</title>

  <!-- some css to make the site look more like "Reddit" -->
  <style>
    body{
      text-align: center;
      background-color: lightblue;
    }
    div.text {
      background-color: pink;
      border: 1px solid black;
      padding: 30px;
      margin: 5px;
    }
  </style>
</head>

<body>
  <!-- main page on Reddit -->
  <h1>Main Reddit Page</h1>

  {% if loggedIn %}

    <h3>Welcome, {{user}}</h3>
    <form style="padding-bottom:1em;" method="POST">
      {% csrf_token %}
      <input type="hidden" name="logout" value="logout"></input>
      <button type="submit" class="btn btn-danger">Logout</button>
    </form>

  {% else %}
    <form style="padding-bottom:1em;" method="POST">
      {% csrf_token %}

      <div class="form-group">
        <label for="inputUsername">Username</label>
        <input type="text" class="form-control" name="inputUsername" id="inputUsername" />
      </div>

      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" name="inputPassword" id="inputPassword" />
      </div>

      <button type="submit" class="btn btn-danger">Login</button>
    </form>
  {% endif %}

  <a href="{% url 'user' %}">See All Users</a>
  <a href="{% url 'post' %}">Make a Post</a>

  <!-- organizing information regarding post, as Reddit does, including emojis for the upvotes/downvotes/comments -->
  {% if post_list %}
    {% for post in post_list %}
      <div class="text">
        <p>User: {{ post.user }}</p>
        <p>Content: {{ post.content }}</p>
        <p>Date: {{ post.date }}</p>

        <!-- upvotes and downvotes that are interactive-->
        <form action="{% url 'upvote' post.id %}" method="post" style="display:inline">
          {% csrf_token %}
          <input type="submit" value="Upvote" />
          <label for="upvote">{{ post.upvotes }}</label>
        </form>
        <form action="{% url 'downvote' post.id %}" method="post" style="display:inline">
          {% csrf_token %}
          <input type="submit" value="Downvote" />
          <label for="downvote">{{ post.downvotes }}</label>
        </form>

        <p>🗨 {{ post.comments }}</p>
      </div>
    {% endfor %}
  {% else %}
    <p>No Posts Found</p>
  {% endif %}
</body>

</html>
