<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Make Post</title>

  <!-- more css to beautify and organize site-->
  <style>
    body {
      text-align: center;
      background-color: lightblue;
    }
  </style>
</head>

<body>
  <a href="{% url 'index' %}">Go Back To Main Page</a>
  <a href="{% url 'user' %}">See All Users</a>

  <textarea id="write_post" name="write_post" rows="5" cols="50"></textarea>

  <form action="{% url 'submit' post.id %}" method="post" style="display:inline">
    {% csrf_token %}
    <input type="submit" value="Submit" />
    <label for="submit">{{ post.submit }}</label>
  </form>

</body>

</html>
