<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Make Post</title>

  <!-- more css to beautify and organize site-->
  <style>
    body {
      text-align: center;
      background-color: lightblue;
    }
  </style>
</head>

<body>
  <h1>Make a Post</h1>
  <a href="{% url 'index' %}">Go Back To Main Page</a>
  <a href="{% url 'user' %}">See All Users</a>

  <br />
  <form action="{% url 'submit' %}" method="post" style="display:inline">

  <label for="username">Username:</label>
  <input type="text" id="username" name="userPosting" />

  <br />

  <textarea id="write_post" name="newContent" rows="5" cols="50">Please type the content of your post here...</textarea>


    {% csrf_token %}
    <input type="submit" value="Submit" />
    <label for="submit">{{ post.submit }}</label>
  </form>

</body>

</html>
